<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link rel="stylesheet" href="css/stile.css">
    <!-- font family: Lato -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <title>Document</title>
    <!-- VueJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    <div id="root">
        <div class="container">
            <!-- column left -->
            <div class="col-left">
                <div class="header-col">
                    <div class="user-info">
                        <img src="img/avatar_io.jpg" alt="">
                        <h4>Sofia</h4>
                    </div>
                    <div class="icons">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <!-- disclaimer -->
                <div class="notifications">
                    <div class="bell">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    <span>
                        <h4>Richiedi notifiche di nuovi messaggi</h4>
                        <a href="">Attiva notifiche desktop</a>
                    </span>
                </div>
                <!-- search -->
                <div class="search-bar">
                    <div class="lens">
                        <i class="fas fa-search"></i>
                    </div>
                    <div class="search-input">
                        <input v-model="searchUser" type="text" placeholder="Cerca o inizia una nuova chat">
                    </div>
                </div>
                <!-- contacts -->
                <div class="users-navbar">
                    <div class="user-info-message" 
                    v-for="(element, index) in contacts" 
                    :class= "{ 'current_contact': currentContact === index }" 
                    @click="showUser(index)"
                    v-if="element.name.includes(searchUser) ? true : false">
                        <div>
                            <img :src="'img/avatar' + element.avatar + '.jpg'" alt="">
                        </div>
                        <div class="message-info">  
                            <h4>{{ element.name }}</h4>
                            <p>Ultimo messaggio inviato</p>
                        </div>
                        <span>
                            12:00
                        </span>     
                    </div>
                </div>
            </div>

            <!-- column right -->
            <div class="col-right">
                <div class="header-col">
                    <div class="user-info">
                        <div>
                            <img :src="'img/avatar' + contacts[currentContact].avatar + '.jpg'" alt="">
                        </div>
                        <div>  
                            <h4>{{contacts[currentContact].name}}</h4>
                            <p>Ultimo accesso alle ore 12:00</p>
                        </div>  
                    </div>
                    <div class="icons">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <!-- messages -->
                <div class="messages-box">
                    <div v-for="element in contacts[currentContact].messages">
                        <!-- message-sended -->
                        <div v-if="element.status === 'sent'" class="msg-send">
                            <span>{{ element.message }}</span>
                            <p>{{ element.date.slice(11, 16) }}</p>
                            <i class="fas fa-sort-down">
                                <button class="delete-message" @click="element.message = ''">Delete message</button> 
                            </i>
                        </div>
                        <!-- message received -->
                        <div v-else class="msg-received">
                            <span>{{ element.message }}</span>
                            <p>{{ element.date.slice(11, 16) }}</p>
                            <i class="fas fa-sort-down">
                                <button class="delete-message" @click="element.message = ''">Delete message</button> 
                            </i>
                        </div>
                    </div>
                </div>
                <!-- write-msg -->
                <div class="write-msg">
                    <div class="smile">
                        <i class="far fa-smile"></i>
                    </div>
                    <div class="text-to-write">
                        <input type="text" placeholder="Scrivi un messaggio" 
                         v-model="newMessage" @keyup.enter="addUserMessage">
                    </div>
                    <div class="audio">
                        <i class="fas fa-microphone"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/script.js" type="text/javascript"></script>
</body>
</html>
